<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/crt_person">Crear usuario</a></li>
  <li><a href="/vw_person">Consultar usuario</a></li>
  <li><a class="active"  href="/rmv_person">Borrar usuario</a></li>
  <li><a href="/edt_person">Modificar usuario</a></li>
  <li><a href="/crt_group">Crear grupo</a></li>
  <li><a href="/vw_group">Consultar grupo</a></li>
  <li><a href="/rmv_group">Borrar grupo</a></li>
  <li><a href="/edt_group">Modificar grupo</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h1>Eliminar persona</h1>
  <form action="/rmvPerson" method="post">
  identification:<br>
  <input type="number" name="id">
  <input type="submit" value="Submit">
</div>

</body>
</html>
